ui = true

storage "azure" {
  accountName = sa_account_name
  container   = sa_container_name
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1 
}

seal "azurekeyvault" {
  tenant_id      = vault_tenant_id
  vault_name     = kv_name
  key_name       = kv_key_name
}

api_addr = "http://vault_cluster_ip:8200"
cluster_addr = "http://vault_cluster_ip:8201"
cluster_name = vault_cluster_name
log_level = "ERROR"
disable_mlock = true
